<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Koru</string><key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string><key>CFBundleIconFile</key><string>AppIcon</string><key>CFBundleIdentifier</key><string>dev.builderking.koru</string><key>CFBundleInfoDictionaryVersion</key><string>6.0</string><key>CFBundleName</key><string>Koru</string><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleShortVersionString</key><string>0.1.0</string><key>CFBundleVersion</key><string>1</string><key>LSMinimumSystemVersion</key><string>13.0</string><key>LSUIElement</key><true/><key>NSHumanReadableCopyright</key><string>Copyright 2026 BuilderKing and Koru contributors</string>
<key>NSServices</key><array><dict><key>NSMenuItem</key><dict><key>default</key><string>Save Selection to Koru</string></dict><key>NSMessage</key><string>saveSelection</string><key>NSPortName</key><string>Koru</string><key>NSSendTypes</key><array><string>public.utf8-plain-text</string><string>public.rtf</string></array></dict></array>
</dict></plist>
